<!DOCTYPE html>
<html lang="en">
  <%-include("./partialviews/header.ejs")%>
  <body>
    <%-include("./partialviews/navigation.ejs")%> <% if (reviews.length > 0) {
    %>
    <div class="entries-container">
      <% reviews.forEach(review => { %>
      <div class="single-entry">
        <!-- <div class="image-title"> -->
        <a class="entry-title" href="/reviews/<%=review._id%>">
          <h3><%=review.title %></h3>
        </a>
        <img class="img-div" src="/images/<%=review.image[0].filename%>" />
        <!-- </div> -->
        <h5 class="author">By: <%=review.author%></h5>
        <a href="<%=review.url%>" target="_blank"> </a>
      </div>
      <% }) %> <% } else { %>
      <p>Nothing to see here...</p>
      <% } %>
    </div>
  </body>
  <script>
    //     const link = document.getElementById("link");
    //     let txt = circle.children[0].textContent.split("");
    //     const circledTextDiv = document.createElement("div");

    //   let deg = 180
    //  / txt.length
    //     let origin = 275;

    //   txt.forEach((letter) => {
    //     letter = `<p style='grid-row:2/3;height:175px;position:absolute;transform:rotate(${origin}deg);transform-origin:0 100%'>${letter}</p>`;
    //     link.innerHTML += letter;
    //     origin += deg;
    //   });
    // document.getElementById("title").remove();
  </script>
</html>
