<!DOCTYPE html>
<html lang="en">
  <%-include("./partialviews/header.ejs")%>
  <body>
    <%-include("./partialviews/navigation.ejs")%> <% if (reviews.length > 0) {
    %>
    <div class="entries-container">
      <% reviews.forEach(review => { %>
      <div class="single-entry">
        <!-- <div class="image-title"> -->
        <a class="entry-title" href="/reviews/<%=review._id%>">
          <h3><%=review.title %></h3>
        </a>
        <img class="img-div" src="/images/<%=review.image[0].filename%>" />
        <!-- </div> -->
        <h5 class="author">By: <%=review.author%></h5>
      </div>
      <% }) %> <% } else { %>
      <p>Nothing to see here...</p>
      <% } %>
    </div>
  </body>
</html>
